.form{

    align-items: center;
    padding-left: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.paragraph{
    padding-left: 45%;
    padding-bottom: 10%;
    color: red;
    font-family: "Playwrite DE LA Guides", cursive;
    font-weight: 400;
}