<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
    <title> SOMETHING </title>
</head>

<body>



    <nav>

        <img src="{{url_for('static', filename='image.png')}}" alt="logo" class="logo"></div>


        <div class="uid_1">



            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signin')}}">Sign in</a></li>
            <li>Home</li>
            <li>About us</li>
            <li>Feedback</li>

        </div>






        </div>


    </nav>

    <!-- <div class="background">
        <img src="{{url_for('static', filename = 'background2.jpg')}}" alt="background">

    </div> -->

    <div class="hero">


        <h1> Work Is In The Progress </h1>

        <h2 class="heading2"> So You Can Sit down And Chill </h2>

    </div>

    <div class="second-section">
        <h2>Your next content goes here</h2>
        <p>This appears when the user scrolls down.</p>
    </div>








</body>

</html>