<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{url_for('static', filename= 'style2.css')}}"> 
   <title>Document</title>
</head>
<body>
   
{%block content%}


 
  
 <form action="{{url_for('signin')}}" method = "post" class="form">
   
      <input type="text", name="user", placeholder = "Entre name", value="{{name if name}}"> 
      <input type="password", name = "password", placeholder="entre password", value="{{password if password}}">



    
    <div>
      <button type="submit">sumbit</button>

   


    </div>
  

 </form>



{%endblock%}



</body>
</html>